body {
	margin: 0;
}
p {
	text-indent: 5%;
}
legend {
	text-align: center;
}

h1, h2 {
	text-align: center;
}

.tela img {
	width: 1350px;
}


/* .parte img{ */
	/* margin-left: auto; */
	/* margin-right: auto; */
	/* width: 50%; */
	/* max-width: 100%; */
/* } */

.parte legend {
	text-indent: 5%;
	text-align: left;
}

div.rodape {
	height: 200px;
}

div.rodape td {
	height: 200px;
	font-size: 40px;
	vertical-align: bottom;
}

