body {
	margin: 0;
}
p {
	text-indent: 5%;
}
legend {
	text-align: center;
}
img {
	border: 5px solid black;
}
h1, h2 {
	text-align: center;
}

/* div.fig01 img, div.fig02 img, div.fig03 img, div.fig09 img, div.fig10 img, div.fig11 img { */
	/* width: 1350px; */
/* } */

div.rodape {
	height: 200px;
}

div.rodape td {
	height: 200px;
	font-size: 40px;
	vertical-align: bottom;
}

