.topo {
	height: 14%;
	background-color: yellow;
	margin: 0;
}

.titulo {
	height: 0%;
	background-color: orange;
	margin: 0;
}

.conteudo {
	height: 71%;
	background-color: lightblue;
	margin: 0;
	overflow-y: scroll;
}

.rodape {
	height: 15%;
	background-color: lightyellow;
	margin: 0;
}

h1, h2, h3, h4 {
	text-align: center;
	margin: 0;
}
