.topo {
	height: 10%;
	background-color: yellow;
	margin: 0;
}

.titulo {
	height: 15%;
	background-color: orange;
	margin: 0;
}

.conteudo {
	height: 60%;
	background-color: lightblue;
	margin: 0;
}

.rodape {
	height: 15%;
	background-color: lightyellow;
	margin: 0;
}

h1, h3, h4 {
	text-align: center;
	margin: 0;
}
